* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: sans-serif;
}

body {
    padding: 2rem;
    background-color: rgb(195, 250, 250);
}

main {
    width: 80%;
    margin: 0 auto;
    border: 4px solid black;
    border-radius: 6px;
}

.content {
    display: flex;
}

.content-left {
    padding: 1rem;
    width: 50%;
    border-right: 5px solid black;
}

.content-left-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-left-header h1 {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.75rem;
}

.range-container {
    border: 1px solid black;
    border-radius: 2px;
    margin-bottom: 1rem;
    padding: 0.75rem;
}

.range-container input {
    margin: 0 auto;
    width: 100%;
}

.btn-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.search-btn,
.search-again {
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    background-color: rgb(78, 199, 104);
}

.search-again {
    display: none;
    background-color: rgb(215, 251, 96);
}

.search-btn:hover {
    scale: 1.1;
    background-color: rgb(10, 222, 10);
}

.search-again:hover {
    scale: 1.1;
    background-color: rgb(201, 251, 35);
}

.search-btn:active,
.search-again:active {
    transform: translateY(-5px);
}

.error-container {
    display: none;
    color: red;
    font-size: 1.25rem;
    font-weight: 600;
    border: 1px solid red;
    border-radius: 2px;
    padding: 0.75rem;
    margin: 2rem 0;
    background-color: rgba(255, 0, 0, 0.35);
}

.result-container {
    display: none;
    border: 1px solid black;
    border-radius: 2px;
    padding: 0.75rem;
    background-color: rgba(3, 216, 3, 0.4);
}

.result-items {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.result-item {
    cursor: default;
    margin: 0 auto;
    font-weight: 400;
}

.result-item span {
    font-weight: 900;
    margin-left: 8px;
}

.content-right {
    width: 50%;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-right-header {
    position: relative;
    width: 75%;
    height: 100px;
}

.content-right-header-shape {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0;
    left: 0;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
}

.content-right-header-shape2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: orange;
    top: 0;
    left: 0;
    z-index: -1;
    clip-path: polygon(2.5% 0%, 97.5% 0%, 78% 94.5%, 22% 94.5%);
}

.content-right h1 {
    display: flex;
    justify-content: center;
    font-size: 2.25rem;
    margin-top: 2.5rem;
}

.content-right h2 {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
    line-height: 2.5rem;
    font-weight: 900;
}

.seat-container {
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
}

.seat-container:first-child {
    margin-left: 1rem;
}

.auditorium-seat-container-0,
.auditorium-seat-container-2,
.balcony-seat-container-1 {
    margin-left: 2.5rem !important;
}

.auditorium-seat-container-3 {
    margin-left: 4.1rem !important;
}

.auditorium-seat-container-4 {
    margin-left: 5.7rem !important;
}

.seat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 0.35rem;
    background-color: green;
    font-weight: 800;
    color: #fff;
    border: 3px solid black;
}

.tier-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    width: 70%;
    background-color: whitesmoke;
    border: 5px solid black;
    margin: 1rem 0;
}

.tier {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tier-color {
    width: 28px;
    height: 28px;
    border: 1px solid black;
    margin-right: 0.5rem;
}

.tier-text {
    font-weight: 600;
}

.reserved {
    background-color: red !important;
}

.option {
    background-color: rgb(33, 208, 2) !important;
}

.tier-1 {
    background-color: rgba(253, 102, 86, 0.65);
}

.tier-2 {
    background-color: rgba(190, 181, 2, 0.75);
}

.tier-3 {
    background-color: rgb(1, 145, 145);
}

@media (max-width: 1920px) {
    main {
        width: 65%;
    }
}

@media (max-width: 1400px) {
    main {
        width: 85%;
    }
}

@media (max-width: 910px) {
    body {
        padding: 1rem;
    }

    main {
        width: 95%;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content-left,
    .content-right {
        width: 90%;
        border: none;
    }

    .tier-content {
        width: 60%;
    }
}

@media (max-width: 600px) {
    .tier-content {
        width: 75%;
    }
}

@media (max-width: 430px) {
    .content-right {
        scale: 0.8;
    }

    .tier-content {
        width: 90%;
    }
}